<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}Crit-Role Viewer{% endblock %}
    </title>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>